<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sample Code</title>
    <link rel="stylesheet" href="/Content/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/flexslider.css">
    <link rel="stylesheet" href="/Content/jquery.fancybox.css">
    <link rel="stylesheet" href="/Content/main.css">
    <link rel="stylesheet" href="/Content/responsive.css">
    <link rel="stylesheet" href="/Content/animate.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/6416761472.js"></script>
    <link rel="stylesheet" href="/Content/jquery-ui.min.css">
    @*<script src="~/Scripts/bootstrap-datepicker.fa.min.js"></script>*@
    @*<script src="~/js/jquery.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head> 