@using Kendo.Mvc.UI
@model string
<div class="k-rtl" >
    @(Html.Kendo().EditorFor(m => m)
          .HtmlAttributes(new {style = "width: 800px;height:400px"})
          .Tools(tools => tools
              .Clear()
              .Bold().Italic().Underline().Strikethrough()
              .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
              .InsertUnorderedList().InsertOrderedList()
              .Outdent().Indent()
              .CreateLink().Unlink()
              .InsertImage()
              .SubScript()
              .SuperScript()
              .TableEditing()
              .ViewHtml()
              .Formatting()
              .FontName()
              .FontSize()
              .FontColor().BackColor()
          )
          .ImageBrowser(imageBrowser => imageBrowser
              .Image("~/Uploads/Pages/{0}")
              .Read("Read", "ImageBrowser")
              .Create("Create", "ImageBrowser")
              .Destroy("Destroy", "ImageBrowser")
              .Upload("Upload", "ImageBrowser")
              .Thumbnail("Thumbnail", "ImageBrowser"))
          )
</div>

<style>
    .k-colorpalette .k-item {
        float: right;
    }
</style>