@using Kendo.Mvc.UI
@model DateTime?

<div class="k-rtl">
    @(Html.Kendo().TimePickerFor(m => m).Format("HH:mm").Value(DateTime.Now)
          .HtmlAttributes(new { style = "width: 20em" }).Interval(1)
          )
</div>