@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic,700);
/* ==========================================================================
Typography
========================================================================== */
p {
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279; }

h1 {
  font-size: 65px;
  color: #2d3033; }

h2 {
  font-size: 40px;
  color: #2d3033; }

h3 {
  font-size: 28px;    margin-top: 0px;
  color: #2d3033;
  font-weight: 300; }

h4 {
  font-size: 22px;
  color: #2d3033;
  font-weight: 400; }

h5 {
  font-size: 14px;
  color: #2d3033;
  text-transform: uppercase;
  font-weight: 700; }

.btn {
  background-color: #d2ab67;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  border: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase; }
  .btn:hover, .btn:focus {
    background-color: #d2ab67;
    color: #fff; }
  .btn-large {
    padding: 15px 40px; }

/* ==========================================================================
	General Styles
========================================================================== */
a {
  color: #d2ab67; }

a:hover, a:focus {
  text-decoration: none;
  -moz-transition: background-color, color, 0.3s;
  -o-transition: background-color, color, 0.3s;
  -webkit-transition: background-color, color, 0.3s;
  transition: background-color, color, 0.3s; }

body {
  font-family: "IRANSans", sans-serif;
  font-weight: 400;
  color: #6c7279;
direction: rtl}

ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

.section {
  padding: 50px 0;}

.no-padding {
  padding: 0; }

.no-gutter [class*=col-] {
  padding-right: 0;
  padding-left: 0; }

/* ==========================================================================
	$Header
========================================================================== */
#header {
  background-color: #0a0a0a;
  position: fixed;
  width: 100%;
  z-index: 999; }
  #header .header-content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
    max-width: 1170px;
    padding: 25px 0;
    width: 100%;
    -moz-transition: padding 0.3s;
    -o-transition: padding 0.3s;
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s; }
  #header .logo {
    float: left; height:50px;width: 80px;}

#header.fixed {
  background-color: #000; }
  #header.fixed .header-content {
    border-bottom: 0;
    padding: 25px 0; }
  #header.fixed .nav-toggle {
    top: 18px; }

.navigation.open {
  opacity: 0.9;
  visibility: visible;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.navigation {
  float: right; }
  .navigation li {
    display: inline-block; }
  .navigation a {
    display: inline-block;padding: 16px 0;
    color: rgba(255, 255, 255, 0.75);
    font-size: 13px;

    margin-left: 40px;
    text-transform: uppercase; }
    .navigation a:hover, .navigation a.active {
      color: #fff; }

.nav-toggle {
  display: none;
  height: 44px;
  overflow: hidden;
  position: fixed;
  right: 5%;
  text-indent: 100%;
  top: 32px;
  white-space: nowrap;
  width: 44px;
  z-index: 99999;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .nav-toggle:before, .nav-toggle:after {
    border-radius: 50%;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform; }
  .nav-toggle:before {
    background-color: #d2ab67;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .nav-toggle:after {
    background-color: #d2ab67;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s; }
  .nav-toggle span {
    background-color: #fff;
    bottom: auto;
    display: inline-block;
    height: 3px;
    left: 50%;
    position: absolute;
    right: auto;
    top: 50%;
    width: 18px;
    z-index: 10;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    .nav-toggle span:before, .nav-toggle span:after {
      background-color: #fff;
      content: "";
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-transition: -moz-transform 0.3s;
      -o-transition: -o-transform 0.3s;
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s; }
    .nav-toggle span:before {
      -moz-transform: translateY(-6px) rotate(0deg);
      -ms-transform: translateY(-6px) rotate(0deg);
      -webkit-transform: translateY(-6px) rotate(0deg);
      transform: translateY(-6px) rotate(0deg); }
    .nav-toggle span:after {
      -moz-transform: translateY(6px) rotate(0deg);
      -ms-transform: translateY(6px) rotate(0deg);
      -webkit-transform: translateY(6px) rotate(0deg);
      transform: translateY(6px) rotate(0deg); }
  .nav-toggle.close-nav:before {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  .nav-toggle.close-nav:after {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  .nav-toggle.close-nav span {
    background-color: rgba(255, 255, 255, 0); }
    .nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
      background-color: #fff; }
    .nav-toggle.close-nav span:before {
      -moz-transform: translateY(0) rotate(45deg);
      -ms-transform: translateY(0) rotate(45deg);
      -webkit-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg); }
    .nav-toggle.close-nav span:after {
      -moz-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
      -webkit-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg); }

/* ==========================================================================
	$Banner
========================================================================== */
.banner {
  background-position: center 101px;
  background-image: url(../images/banner.jpg);

  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 500px; }

.banner-text {
  padding-top: 25%; }
  .banner-text h1 {
    color: #fff;
    font-family: "IRANSans", sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
  .banner-text p {text-align: right;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 80px; }

/* ==========================================================================
	$Features
========================================================================== */
.feature {
  margin-bottom: 50px; }
  .feature-content {
    padding: 0 15px;
    margin-top: 30px; }
  .feature .icon {
    color: #d2ab67;
    font-size: 60px; }

/* ==========================================================================
	$Works
========================================================================== */
.work {
  -moz-box-shadow: 0 0 0 1px #fff;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
  min-height: 350px;
  overflow: hidden;
  position: relative;
  visibility: hidden; }
  .work .overlay {
    background: rgba(210, 171, 103, 0.7294117647058823);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -moz-transition: opacity, 0.3s;
    -o-transition: opacity, 0.3s;
    -webkit-transition: opacity, 0.3s;
    transition: opacity, 0.3s; }
  .work .overlay-caption {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .work h5, .work p, .work img {
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s; }
  .work h5, .work p {
    color: #fff;
    margin: 0;
    opacity: 0; }
  .work h5 {
    margin-bottom: 5px;
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); }
  .work p {
    -moz-transform: translate3d(0, 200%, 0);
    -ms-transform: translate3d(0, 200%, 0);
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0); }

.work-box:hover img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }
.work-box:hover .overlay {
  opacity: 1; }
  .work-box:hover .overlay h5, .work-box:hover .overlay p {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

/* ==========================================================================
	$Teams
========================================================================== */
.person {
  max-width: 270px; }
  .person-content {
    margin-top: 20px; }
  .person h4 {
    font-weight: 400; }
  .person h5 {
    color: #d2ab67;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px; }

.social-icons, .footer .footer-share {
  margin-top: 30px; }
  .social-icons li, .footer .footer-share li {
    float: left; }
  .social-icons a, .footer .footer-share a {
    border: 1px solid #e8ecee;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #c6cacc;
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    text-align: center;
    width: 40px; }
    .social-icons a:hover, .footer .footer-share a:hover {
      background-color: #d2ab67;
      border-color: #d2ab67;
      color: #fff; }

/* ==========================================================================
	$Testimonials
========================================================================== */
.testimonials {
  background-color: #d2ab67;
  position: relative; }
  .testimonials blockquote {
    border: 0;
    margin: 0;
    padding: 40px 14% 0; }
  .testimonials p {
    color: #fff;
    font: 23px "IRANSans", serif; }
  .testimonials cite {
    color: #fff;
    display: block;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    margin-top: 30px;
    text-transform: uppercase; }

/* ==========================================================================
	$Download
========================================================================== */
.download h3 {
  margin-top: 0; }
.download p {
  color: #2d3033;
  font-weight: 600;
  text-transform: uppercase; }
.download .btn {
  margin-top: 30px; }

/* ==========================================================================
	$Footer
========================================================================== */
.footer {
  text-align: center; }
  .footer-top {
    background-image:url('../../images/footer-bg.jpg');

    text-align: right;
    background-color: #3a3e64;
    padding-top: 50px; }
  .footer-bottom {
    background-color: #424d58;
    padding: 20px 0; }
  .footer .footer-col {
    margin-bottom: 80px; }
  .footer h5 {
    color: #fff; }
  .footer h5 {
    margin-bottom: 20px; }
  .footer p {
    color: rgba(255, 255, 255, 0.5); }
  .footer a {
    color: #fff; }
    .footer a:hover {
      color: #d2ab67; }
  .footer .footer-share {
    margin-top: 0; }
    .footer .footer-share li {
      display: inline-block;
      float: none; }
    .footer .footer-share a {
      border-width: 2px;
      color: #fff; }
  .footer .fa-heart {
    color: #d2ab67;
    font-size: 11px;
    margin: 0 2px; }

/* ==========================================================================
	$Utilities
========================================================================== */
.work:nth-child(1) {
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.work:nth-child(2) {
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.work:nth-child(3) {
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.work:nth-child(4) {
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.work:nth-child(5) {
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }
.work:nth-child(6) {
  -moz-animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }
.work:nth-child(7) {
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }
.work:nth-child(8) {
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.animated {
  visibility: visible; }

/* ==========================================================================
	Font Icon (http://www.elegantthemes.com/blog/freebie-of-the-week/free-line-style-icons)
========================================================================== */
@font-face {
  font-family: "IRANSans";
  src: url('../fonts/IRANSans.ttf?1439850014') format('truetype'), url('../fonts/IRANSans.eot?1439850014') format('embedded-opentype'), url('../fonts/IRANSans.svg?1439850014') format('svg'), url('../fonts/IRANSans.woff?1439850014') format('woff'); }

.icon {
  font-family: 'IRANSans';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-mobile:before {
  content: "\e000"; }

.icon-laptop:before {
  content: "\e001"; }

.icon-desktop:before {
  content: "\e002"; }

.icon-tablet:before {
  content: "\e003"; }

.icon-phone:before {
  content: "\e004"; }

.icon-document:before {
  content: "\e005"; }

.icon-documents:before {
  content: "\e006"; }

.icon-search:before {
  content: "\e007"; }

.icon-clipboard:before {
  content: "\e008"; }

.icon-newspaper:before {
  content: "\e009"; }

.icon-notebook:before {
  content: "\e00a"; }

.icon-book-open:before {
  content: "\e00b"; }

.icon-browser:before {
  content: "\e00c"; }

.icon-calendar:before {
  content: "\e00d"; }

.icon-presentation:before {
  content: "\e00e"; }

.icon-picture:before {
  content: "\e00f"; }

.icon-pictures:before {
  content: "\e010"; }

.icon-video:before {
  content: "\e011"; }

.icon-camera:before {
  content: "\e012"; }

.icon-printer:before {
  content: "\e013"; }

.icon-toolbox:before {
  content: "\e014"; }

.icon-briefcase:before {
  content: "\e015"; }

.icon-wallet:before {
  content: "\e016"; }

.icon-gift:before {
  content: "\e017"; }

.icon-bargraph:before {
  content: "\e018"; }

.icon-grid:before {
  content: "\e019"; }

.icon-expand:before {
  content: "\e01a"; }

.icon-focus:before {
  content: "\e01b"; }

.icon-edit:before {
  content: "\e01c"; }

.icon-adjustments:before {
  content: "\e01d"; }

.icon-ribbon:before {
  content: "\e01e"; }

.icon-hourglass:before {
  content: "\e01f"; }

.icon-lock:before {
  content: "\e020"; }

.icon-megaphone:before {
  content: "\e021"; }

.icon-shield:before {
  content: "\e022"; }

.icon-trophy:before {
  content: "\e023"; }

.icon-flag:before {
  content: "\e024"; }

.icon-map:before {
  content: "\e025"; }

.icon-puzzle:before {
  content: "\e026"; }

.icon-basket:before {
  content: "\e027"; }

.icon-envelope:before {
  content: "\e028"; }

.icon-streetsign:before {
  content: "\e029"; }

.icon-telescope:before {
  content: "\e02a"; }

.icon-gears:before {
  content: "\e02b"; }

.icon-key:before {
  content: "\e02c"; }

.icon-paperclip:before {
  content: "\e02d"; }

.icon-attachment:before {
  content: "\e02e"; }

.icon-pricetags:before {
  content: "\e02f"; }

.icon-lightbulb:before {
  content: "\e030"; }

.icon-layers:before {
  content: "\e031"; }

.icon-pencil:before {
  content: "\e032"; }

.icon-tools:before {
  content: "\e033"; }

.icon-tools-2:before {
  content: "\e034"; }

.icon-scissors:before {
  content: "\e035"; }

.icon-paintbrush:before {
  content: "\e036"; }

.icon-magnifying-glass:before {
  content: "\e037"; }

.icon-circle-compass:before {
  content: "\e038"; }

.icon-linegraph:before {
  content: "\e039"; }

.icon-mic:before {
  content: "\e03a"; }

.icon-strategy:before {
  content: "\e03b"; }

.icon-beaker:before {
  content: "\e03c"; }

.icon-caution:before {
  content: "\e03d"; }

.icon-recycle:before {
  content: "\e03e"; }

.icon-anchor:before {
  content: "\e03f"; }

.icon-profile-male:before {
  content: "\e040"; }

.icon-profile-female:before {
  content: "\e041"; }

.icon-bike:before {
  content: "\e042"; }

.icon-wine:before {
  content: "\e043"; }

.icon-hotairballoon:before {
  content: "\e044"; }

.icon-globe:before {
  content: "\e045"; }

.icon-genius:before {
  content: "\e046"; }

.icon-map-pin:before {
  content: "\e047"; }

.icon-dial:before {
  content: "\e048"; }

.icon-chat:before {
  content: "\e049"; }

.icon-heart:before {
  content: "\e04a"; }

.icon-cloud:before {
  content: "\e04b"; }

.icon-upload:before {
  content: "\e04c"; }

.icon-download:before {
  content: "\e04d"; }

.icon-target:before {
  content: "\e04e"; }

.icon-hazardous:before {
  content: "\e04f"; }

.icon-piechart:before {
  content: "\e050"; }

.icon-speedometer:before {
  content: "\e051"; }

.icon-global:before {
  content: "\e052"; }

.icon-compass:before {
  content: "\e053"; }

.icon-lifesaver:before {
  content: "\e054"; }

.icon-clock:before {
  content: "\e055"; }

.icon-aperture:before {
  content: "\e056"; }

.icon-quote:before {
  content: "\e057"; }

.icon-scope:before {
  content: "\e058"; }

.icon-alarmclock:before {
  content: "\e059"; }

.icon-refresh:before {
  content: "\e05a"; }

.icon-happy:before {
  content: "\e05b"; }

.icon-sad:before {
  content: "\e05c"; }

.icon-facebook:before {
  content: "\e05d"; }

.icon-twitter:before {
  content: "\e05e"; }

.icon-googleplus:before {
  content: "\e05f"; }

.icon-rss:before {
  content: "\e060"; }

.icon-tumblr:before {
  content: "\e061"; }

.icon-linkedin:before {
  content: "\e062"; }

.icon-dribbble:before {
  content: "\e063"; }



/*******************************new*********************************/
.logo-main{
  width: 100%;height: 100%;object-fit: contain;

}
.card {

  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}

.card a {
  color: inherit;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}


/**
* DATE
**/

.card__date {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  padding-top: 10px;
  background-color: #d2ab67;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 13px;
}

.card__date__day {
  font-size: 14px;
}

.card__date__month {
  text-transform: uppercase;
  font-size: 10px;
}


/**
* THUMB
**/

.card__thumb {
  height: 245px;
  overflow: hidden;
  background-color: #000;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.card__thumb img {
  width: 100%;
  display: block;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.card:hover .card__thumb {
  height: 130px;
}

.card:hover .card__thumb img {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


/**
* card_BODY
**/

.card__body {
  position: relative;
  height: 63px;
  padding: 20px;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.card:hover .card__body {
  height: 156px;
}

.card__category {
  position: absolute;
  top: -25px;
  left: 0;
  height: 25px;
  padding: 0 15px;
  background-color: #d2ab67;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 25px;
}

.card__title {
  margin: 0;
  padding: 0 0 10px 0;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.card__subtitle {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 19px;
  color: #d2ab67;
}

.card__description {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 56px;
  margin: 0;
  padding: 0;
  color: #666C74;
  line-height: 27px;
  opacity: 0;
  -webkit-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.card:hover .card__description {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.card__footer {
  position: absolute;
  bottom: 12px;
  left: 20px;
  right: 20px;
  font-size: 11px;
  color: #A3A9A2;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0 2px;
  font-size: 18px;
}

.icon+.icon {
  padding-left: 10px;}
.MB25{    margin-bottom: 25px;
}


.title-lable{
  display: inline-block;
  position: relative;
  font-family: 'IRANSans';
  font-size: 17px;
  margin-bottom: 45px;
}

.title-lable::after, .title-lable::before{
  content: '';
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #d2ab67;
  top: 10px;

  transition: all 0.4 ease-in;
}

.title-lable::before{
  left:-70px;
}

.title-lable::after{
  right:-70px;
}
.form-subscribe
{
  max-width:600px;
  margin:0 auto
}
.form-subscribe .form-control
{font-size: 12px;
  background-color:hsla(0,0%,100%,.8);
  padding-left:24px;
  padding-right:24px;
  letter-spacing:1px;
  border:none;
  border-top-left-radius:36px;
  border-bottom-left-radius:36px
}
.form-subscribe .form-control.focus,.form-subscribe .form-control:focus
{
  z-index:2;
  background-color:hsla(0,0%,100%,.8)
}
.form-subscribe .btn
{
  border-top-right-radius:36px !important;
  border-bottom-right-radius:36px !important;
  background:#d2ab67;
  border-color:#d2ab67;
  height:46.5px;padding: 10px 51px;outline: none;
}
.bg-img{
  background-color: #e6e6e6;padding-bottom: 36px;
}
.font19{    font-size: 19px;}
.button-hover,
.button-hover::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button-hover {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
text-align: right;
  padding: 5px 57px;
  position: relative;
  text-transform: uppercase;
}

.button-hover::before,
.button-hover::after {
  background: #e6e6e6;
  content: '';
  position: absolute;
  z-index: -1;
}

.button-hover:hover {
  color: #d2ab67;
}

/* BUTTON 4 */
.btn-4::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-4::after {
  background: #d2ab67;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-4:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}
.height80{height:80px;}
.icone-quick{font-size: 35px !important;color:#d2ab67}
.logo-footer{    width: 68px;}
.title-footer{border-top: 2px solid #d2ab67;margin-bottom: 20px;padding-top: 10px;}
.avatar img{
  height: 396px !important;
}


/**************************contact us************************/
.brand {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.brand span {
  color: #ffffff;
}

.wrapper {
  box-shadow: 0 0 20px 0 #d2ab67;
}

.wrapper > * {
  padding: 1em;
}

/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */

.company-info {
  background: #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.company-info h3,
.company-info ul {
  text-align: right;
  margin: 0 0 1rem 0;
}

/* ------- */
/* CONTACT */
/* ------- */

.contact {
  background: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/*.contact form .full {
    grid-column: 1 / 3;
}


    .contact form input hidden {
        width: 100%;
    }*/

.contact form button {
    background: #d2ab67;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

/* ---- */
/* FORM */
/* ---- */

/*.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;    font-weight: 100;
}

.contact form p {
  margin: 0;
}



.contact form button,
.contact form input,
.contact form textarea,
.contact form select{
  width: 100%;
  padding: 4px;
  border-radius: 4px;
  border-bottom: 1px solid #d2ab67;
  box-shadow: none;
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-top: none;
  border-radius: 0;
  outline: none;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  background: #d2ab67;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}*/
select{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #d2ab67;
  outline: none;
}
.contact form button:hover,
.contact form button:focus {
  background: #d2ab67;
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}
.company-info li i{    margin-left: 11px;}
.company-info li{    display: inline-flex;margin-bottom: 15px;    font-size: 12px;}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */



@media only screen and (min-width: 700px) {

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }

  .company-info {
    border-radius: 4px 0 0 4px;
  }

  .contact {
    border-radius: 0 4px 4px 0;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: right;
  }
}
.contact h3{
  font-size: 18px;
}
.company-info h3{
  font-size: 18px;
}
.PTB40{padding-top: 40px;padding-bottom: 40px;}
.aboutus p{line-height: 30px;
  text-align: justify;

}
.company-info-aboutus{
  background-image: url('../../images/b69081c3-f736-4632-8fa1-df505857c47c.png');    width: 100%;
  background-repeat: no-repeat;
  height: 100%;    background-size: cover;
}
.company-info-haghighi{
  background-image: url('../../images/Register-DSC-on-GST-Portal.jpg');    width: 100%;
  background-repeat: no-repeat;
  height: 100%;    background-size: cover;
}
.company-info-lanj{
  background-image: url('../../images/987d2d5d-16b7-47a5-b9d9-4e32f31b6cf0.png');    width: 100%;
  background-repeat: no-repeat;
  height: auto;     background-size: contain;
}
.company-info-vip{
  background-image: url('../../images/4ecacccd-e2dd-46a3-99f5-568b0c0c5480.png');    width: 100%;
  background-repeat: no-repeat;
  height: auto;     background-size: contain;
}
.company-info-login{
  background-image: url('../../images/Register-DSC-on-GST-Portal.jpg');    width: 100%;
  background-repeat: no-repeat;
  height: 100%;    background-size: cover;
}
.company-info-transfer{
  background-image: url('../../images/1374128-bigthumbnail.jpg');    width: 100%;
  background-repeat: no-repeat;
  height: 100%;    background-size: cover;

}
.company-info-suit{
  background-image: url('../../images/959a8422-7b2f-482d-a59d-df7907217550.png');    width: 100%;
  background-repeat: no-repeat;
  height: 100%;    background-size: cover;

}
.company-info-ejlas{
  background-image: url('../../images/acd4255c-d3ad-40d0-b674-7798a1316963.png');    width: 100%;
  background-repeat: no-repeat;
  height: 100%;    background-size: cover;

}
.company-info-hamayesh{
  background-image: url('../../images/4f2b79d1-111c-4ff0-9486-d238dbc3529d.png');    width: 100%;
  background-repeat: no-repeat;
  height: 100%;    background-size: cover;

}


input[type=checkbox]  {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  display: inherit;
}

    input[type=checkbox] {
        border: 0.9em solid #d2ab67;
        border-radius: 0.2em;
        display: inline-block;
        width: 16px;
        height: 16px;
        padding-left: 0.2em;
        padding-bottom: 0.3em;
        margin-right: 0.2em;
        vertical-align: bottom;
        color: transparent;
        transition: .2s;
        margin-left: 12px;
    }

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked {
  background-color: #d2ab67;
  border-color:  #d2ab67;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color:  #d2ab67;
  border-color: #d2ab67;
}
/*********************/

.navigation li.sub{position: relative;}
.navigation li.sub .dropdown_menu{
  display: none;
  position: absolute;
  top: 50px;
  background-color: #000;
  width:200px;
  right:0;
}
.navigation li.sub .dropdown_menu li{display: block;}
.navigation li.sub:hover .dropdown_menu{display: block;}
.navigation li.sub .dropdown_menu a{
  padding: 10px;
  display: inline-block;
  width:100%;
}
.navigation li.sub .dropdown_menu a:hover{
  color: #d2ab67;
}
.navigation li.sub .dropdown_menu a i{
  display: inline-block;
  vertical-align: middle;
}

.radio {
    width: 100% !important;
    height: 100% !important;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: right;
}
.radio + .radio {
  margin-top: 7px;
}
.radio input {
  display: none;
}
.radio input + span {
  display: inline-block;
  position: relative;
  padding-left: 20px;
}
.radio input + span:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background: #fff;
}
.radio input + span:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #d2ab67;
  position: absolute;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  opacity: 0;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}
.radio input:checked + span:after {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.right-radio{
  width: 50%;
  float: right;
  margin-top:31px !important;
}




