@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I'm a software engineer with a strong technical background who possesses self-discipline and the ability to work with the minimum of supervision. Able to play a key role throughout the software development / support life cycle of a project to ensure that quality solutions meet business objectives. Possessing a good team spirit, deadline orientated and having the ability to organize and present complex solutions clearly and accurately.
    Experienced in desktop , web programming , mobile programming
    Quick learner with strong analytical and problem solving skills
    Ability to communicate effectively at all levels</p>
