@using CommonLibrary
@using CommonLibrary.Web.Mvc
@using IranSoftjo.Core.Web.Mvc
@using IranSoftjo.Core.Web.Mvc.Html
@model  CustomComponentKendo.Models.BookingVm
@{
    ViewBag.Title = "گرید";
}
<h3 style="border-bottom: 1px solid black; padding-bottom: 5px">
    @ViewBag.Title
</h3>
