@using CommonLibrary
@using CommonLibrary.Web.Mvc
@using IranSoftjo.Core.Web.Mvc
@using IranSoftjo.Core.Web.Mvc.Html
@model  CustomComponentKendo.Models.BookingVm
@{
    ViewBag.Title = "صفحه اول";
}
<section>
    <div class="container ">
        <div class="wrapper">
            <div class="contact">
             

            </div>
        </div>
    </div>
</section>